# Arquivos do .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.cache
*.vs/
.vs/
.vscode/
*.swp
*.swo

# Arquivos de compilação
*.pdb
*.exe
*.dll

# Dependências
node_modules/
jspm_packages/

# SQLite
*.db
*.db-shm
*.db-wal

# Rider
.idea/

# VS Code
.vscode/

# Arquivos de usuário
*.userprefs

# Arquivos de publicação
publish/

# Logs e bancos de dados
logs/
*.log
*.sqlite

# Arquivos temporários
*.tmp
*.temp

# Arquivos do sistema
.DS_Store
Thumbs.db